/* Set min-height to avoid page reflow while session loading */
/* .signedIn {

} */

.loaded {
  opacity: 100;
}

.loading {
  top: -2rem;
  opacity: 0;
}

/* .signedInText,
.notSignedInText {
  justify-content: center;
} */

/* .signedInText {
} */

.avatar {
  float: left;
  border-radius: 2rem;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.avatartwo {
  height: 5% !important;
  width: 5%;
}

.button,
.buttonPrimary {
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  /* position: relative; */
  z-index: 10;
  background-color: transparent;
  color: #555;
  max-width: 20%;
}

.buttonPrimary {
  display: block;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: #555;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
  color: #555;
}

.link {
  font-size: 2rem;
  color: #555;
}

.linkContainer {
  margin-bottom: 5%;
}

.navContainer {
  position: relative;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.headerUl {
  list-style-type: none;
  padding: 2vh;
  justify-content: space-between;
}

.headerLi {
  float: left;
}

.titleContainer {
  justify-content: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
}

.buttonSignIn,
.buttonSignIn:hover {
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 1.5rem 1.75rem;
  z-index: 10;
  background-color: transparent;
  color: #555;
  max-width: 20%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.buttonSignOut,
.buttonSignOut:hover {
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  /* position: relative; */
  z-index: 10;
  background-color: transparent;
  color: #555;
  max-width: 20%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.image {
  border-radius: 250px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #555;
  margin-bottom: 2vh;
}
